@page "/paginadoPublicaciones"

@if (TotalPaginas > 1)
{
    <nav aria-label="Page navigation example">

        <ul class="pagination text-danger paginado">

            <li class="page-item @ClaseDeshabilitada(1)">
                <button class="page-link btnPaginaInicial" @onclick="() => ConfiguracionPagina(1)" disabled="@PrimeraPagina"><i class="bi bi-chevron-bar-left"></i></button>
            </li>

            <li class="page-item @ClaseDeshabilitada(PaginaActual - 1)">
                <button class="page-link btnAtras" @onclick="() => ConfiguracionPagina(PaginaActual - 1)" disabled="@PrimeraPagina"><i class="bi bi-arrow-left"></i></button>
            </li>

            @for (var i = PaginaInicial; i <= PaginaFinal; i++)
            {
                <li class="page-item">
                    <button class="page-link btnNumeros @(i == PaginaActual ? "activate" : "")" @onclick="() => ConfiguracionPagina(i)">@i</button>
                </li>
            }

            <li class="page-item @ClaseDeshabilitada(PaginaActual + 1)">
                <button class="page-link btnSiguiente" @onclick="() => ConfiguracionPagina(PaginaActual + 1)" disabled="@UltimaPagina"><i class="bi bi-arrow-right"></i></button>
            </li>

            <li class="page-item @ClaseDeshabilitada(TotalPaginas)">
                <button class="page-link btnPaginaFinal" @onclick="() => ConfiguracionPagina(TotalPaginas)" disabled="@UltimaPagina"><i class="bi bi-chevron-bar-right"></i></button>
            </li>

        </ul>

    </nav>
}

@code
{
    [Parameter]
    public int PaginaActual { get; set; }

    [Parameter]
    public int TotalPaginas { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    private bool PrimeraPagina => PaginaActual == 1;

    private bool UltimaPagina => PaginaActual == TotalPaginas;

    private int PaginaInicial => Math.Max(1, PaginaActual - 2);

    private int PaginaFinal => Math.Min(TotalPaginas, PaginaActual + 2);

    private string ClaseDeshabilitada(int pagina) => (pagina == PaginaActual || PrimeraPagina && pagina == 1 || UltimaPagina && pagina == TotalPaginas) ? "disabled" : "";

    private async Task ConfiguracionPagina(int pagina)
    {
        if (pagina < 1 || pagina > TotalPaginas || pagina == PaginaActual)
        {
            return;
        }

        PaginaActual = pagina;
        await OnPageChanged.InvokeAsync(pagina);

    }
}