@page "/VerMiSubastaIndividual"
@page "/VerMiSubastaIndividual/{idPublicacion:long}"
@inject IPublicacionesService publicacionesService;
@inject IPujasService pujasService;

<p>Inicio > Mis Subastas > Ver Subasta</p>

<div class="contenedor">

    <div class="content1">

        <div class="contenidoSubasta">

            <h1 class="titulo">@publicacione.Titulo</h1>

            <p>@publicacione.Descripcion</p>

            <br />

            <h3 class="subtitulo">Perfil Requerido</h3>

            <div class="alert alert-light" role="alert">
                @publicacione.Tecnologias
            </div>

            <br />

            <h3 class="subtitulo">Datos Importantes</h3>

            <ul class="list-group">
                <li class="list-group-item"><strong>Creador Subasta:</strong> @publicacione.Usuario?.Nombre</li>
                <li class="list-group-item"><strong>Inicio:</strong> @publicacione.FechaInicio</li>
                <li class="list-group-item"><strong>Final:</strong> @publicacione.FechaFin</li>
            </ul>

        </div>

    </div>

    <div class="content2">

        <div class="contenidoDetalles">

            <h1 class="titulo2">Detalles del servicio</h1>

            <h3 class="espacio"><strong>Precio Inicial:</strong> $ @publicacione.PrecioInicial USD</h3>

            <h4 class="espacio"><strong>Fecha Inicio:</strong> @publicacione.FechaInicio</h4>

            <h4 class="espacio"><strong>Fecha Final:</strong> @publicacione.FechaFin</h4>

            <hr />

            <h3 class="espacio"><strong>Precio Actual:</strong> @publicacione.PrecioInicial</h3>

            <h4 class="espacio"><strong>Numero de pujas:</strong> 10</h4>

            <h4 class="espacio"><strong>Estado:</strong> @publicacione.Estado</h4>

            <br />

            <h4><strong>Pujas actuales</strong></h4>

            <div class="contenedorPujas">

                @if (pujas != null)
                {
                    @foreach (var item in pujas)
                    {

                        <div class="card">

                            <h5 class="card-header"><strong>Fernando Alonzo</strong></h5>

                            <div class="card-body">

                                <h5 class="card-title">Datos de la puja</h5>
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Monto Ofertado:</strong>&nbsp; @item.montoOfertado</li>
                                    <li class="list-group-item"><strong>Fecha Puja:</strong>&nbsp; @item.fechaPuja</li>
                                    <li class="list-group-item"><strong>Estado Puja:</strong>&nbsp; @item.estado</li>
                                </ul>

                            </div>
                        </div>

                    }
                }
                else
                {
                    <p>No se encontro resultados</p>
                }

            </div>

        </div>

    </div>

</div>

@code 
{
    [Parameter]
    public long idPublicacion { get; set; } = 0;

    //----------------------------------------------------------------------------------------------|

    PublicacioneDTO publicacione = new PublicacioneDTO();

    private List<PujaDTO>? pujas;

    //----------------------------------------------------------------------------------------------|

    protected override async Task OnInitializedAsync()
    {
        if (idPublicacion != 0)
        {
            publicacione = await publicacionesService.BuscarPublicacion(idPublicacion);

            pujas = await pujasService.BuscarPujasPorPublicacion(idPublicacion);
        }
    }

}
